*.iml
.gradle
.agents
.codex
.gemini
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
captures/
.gradle/
*.class
Thumbs.db
desktop.ini
graphify-out/cache/
logs/
.externalNativeBuild
.cxx
local.properties
.idea/
.kotlin/
*.apk
*.dm
test-books/
.obsidian/
gemini api.txt